.login .container {
  margin: auto;
  margin-top: 50px;
  background-color: rgb(230, 222, 222);
  padding: 30px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
}
.input {
  margin-top: 40px;
}

.form-sublink {
  position: relative;
  left: 10px;
}

.button-group {
  margin-top: 100px;
}
